<!DOCTYPE html>

<html>
<head>    
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
   
    <div>
        <p> This page uses another layout.</p>
        @RenderBody()
    </div>
</body>
</html>
