@{


}
<a class="btn btn-primary" asp-action="Register"> Register</a>
<a class="btn btn-primary" asp-action="AllPeople"> Show all people</a>
<a class="btn btn-primary" asp-action="Married"> Married</a>
<a class="btn btn-primary" asp-action="Single"> Single</a>
